/* Q#: All the elements have margin of 0 from the top, bottom, left, and right */
* {
  margin: 0;
}

body {
  color: rgb(102, 83, 71);
  background-color: rgb(70, 30, 5);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0;
}
.container {
  width: 950px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(230, 140, 140);
}

.content {
  line-height: 1.4em;
  padding: 5px;
}

header {
  background-color: (3, 3, 3);
}

nav {
  background-color: rgb(5, 5, 5);
}
footer {
  background-color: rgb(10, 10, 10);
}

nav ul {
  margin: 0;
  padding: 5px;
}
nav li {
  display: inline-block;
  margin-right: 40px;
  text-transform: uppercase;
}

nav :link {
  color: rgb(34, 0, 255);
}
nav :visited {
  color: rgb(212, 0, 255);
}
nav :hover {
  color: rgb(212, 0, 255);
}
nav :active {
  color: rgb(255, 0, 25);
}
a {
  color: rgb(138, 255, 157);
  text-decoration: none;
}

h1 {
  margin-block: 10px;
  text-transform: uppercase;
  color: rgb(0, 247, 255);
}

h2 {
  margin-block: 10px;
  text-transform: uppercase;
  color: rgb(0, 247, 255);
}

h3 {
  margin-block: 10px;
  text-transform: uppercase;
  color: rgb(0, 247, 255);
}

.img-centre {
  margin: 5px;
  padding: 5px;
}

audio,
video {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

table {
  width: 800px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-collapse: collapse;
}

td,
th {
  border-style: double;
  text-transform: uppercase;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: rgb(12, 235, 87);
}
tfoot td,
table.th {
  text-transform: uppercase;
  background-color: rgb(12, 235, 87);
  color: rgb(255, 0, 25);
}
dt {
  font-style: bold;
}

footer {
  font-size: 80%;
  text-align: center;
  padding-bottom: 1px;
  padding-top: 1px;
  padding-right: 0px;
  padding-left: 0px;
}

iframe {
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

fieldset {
  width: 500px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-style: dashed;
  background-color: rgbrgb(58, 61, 62);
}

legend {
  font-style: italic;
  background-color: rgb(102, 83, 71);
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 15px;
}
input[type="submit"] {
  border-style: dotted;
  padding: 5px;
  background-color: rgb(126, 70, 0);
  color: rgb(212, 0, 255);
}

input:hover[type="submit"] {
  color: rgb(50, 157, 245);
  background-color: rgb(248, 129, 176);
  cursor: hand;
}
